@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Quicksand", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Fredoka", ui-sans-serif, system-ui, sans-serif;
  
  --color-pastel-beige: #FFFBF5;
  --color-pastel-green: #C1E1C1;
  --color-pastel-peach: #FFDAB9;
  --color-pastel-pink: #FFB6C1;
  --color-pastel-blue: #AEC6CF;
  --color-pastel-yellow: #FDFD96;
}

body {
  background-color: var(--color-pastel-beige);
  color: #4A4A4A;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
